- extends "bootstrap/base.html" 

// default title
- block title
    | Horoscope

// Legacy browser support
- import "bootstrap/fixes.html" as fixes 

- block head
    | {{super()}}
    | {{fixes.ie8()}}
    link(rel="shortcut icon", href=url_for("static", filename="img/favicon.ico"))

- block styles 
    // Technical styles (like bootstrap)
    | {{super()}}
    // Custom fonts
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap", rel="stylesheet")
    // Custom styles
    - assets "sass_all"
        link(rel="stylesheet", type="text/css", href=ASSET_URL)
    - endassets
