- extends "bootstrap/base.html"     

- block title
   | Coffee

- block styles
    | {{ super() }} 
    - assets "sass_all"
        link(rel="stylesheet", type="text/css", href=ASSET_URL)
    - endassets

- block navbar
    nav.navbar
        span.navbar-brand.h1 Navbar

- block content
    h1 KEKwait
